body{
    /* background-color: #F7E987; */
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contenedor1 {
    display: flex;
    align-items: center;
    gap: 20px; 
    border: 3px solid black;
    border-radius: 6px;
    padding: 1px 10px 0px;
    margin-bottom: 20px;
}

.imagen img {
    max-width: 100%; 
    height: 150px; 
    align-items: center;
    border-radius: 6px;
    border: 3px solid black;
}

.tab-1 {
    padding: 20px;
    flex: 1;
}

.alerta {
    color: aliceblue;
    border-radius: 10px;
    background-color:#F2BE22 ;
    padding: 0px 20px;
    margin: 10px 0px 5px;
    display: inline-block;
}

.titulo {
    font-size: 24px;
    margin-top: 0;
}

.txM {
    font-weight: 400;
}
